body, .site-header {
  background: #fff url(/images/background-stripe.gif) repeat 0 0;
}

.site-title {
  background: transparent url(/images/logo.png) no-repeat 0 0;
  height: 131px;
  margin: 10px auto;
  margin-bottom: 0;
  text-indent: -9999px;
  width: 387px;

  &:hover {
    background-color: rgba(204, 204, 204, 0.2);
  }
}

.site-title-message {
  clear: both;
  margin: 10px auto;
}

