
:markdown
    # Thanks for sharing in my 5000th tweet
    It's a rather trivial milestone, but it struck me that it's an opportunity to do something nice.
    It's also a way for me to say thanks to everybody out there that helped me have a great year.
    I left my previous employer August of 2009 and struck out on my own. The first few months were interesting, as I regrouped and got my head ready for 2010.
    This year has been fantastic though, not just in terms of work:

    * I've ridden my bike for the *vast* majority of the year
    * I went to Europe for 3 1/2 weeks and loved every second
    * My [girlfriend](http://j.mp/2pOJXH) moved in with me almost a year ago & we're doing great
    * My family is doing very well, even those I don't talk to often
    * I've worked on really cool projects with some **REALLY** cool people

    With all this in mind, I just felt like I should do something good to celebrate, and the 5000th tweet presented itself as the perfect marker.

    ## How it'll work
    I'm [tracking](http://j.mp/goeKAg) people that retweet me over the next few days. I'll check on it periodically, and when I can grab the 500th retweet,
    that person will get $50 donated to the charity of their choice. Keep it classy while camping folks, no NAMBLA's or Al Qaeda's.
    To keep it going a bit, I'll also donate $50 to the open source project of choice for the 5000th retweet of my 5000th tweet. I've used almost all open source this year 
    and I feel it's the least I can do.

    ## So...
    thanks for reading, and thank you for supporting me this last year. It really means a lot!

    *Jesse*
