
:markdown
    # Thanks for sharing in my 5000th tweet

    It's a rather trivial milestone, but it struck me that this an opportunity to do something nice and have a bit of fun.
    I left my previous employer August of 2009 and struck out on my own. The first few months were interesting, as I regrouped and got my head ready for 2010.
    Going in to 2010 I felt energized and ready to go, and the Twitter community had a lot to do with that. There's such a wealth of knowledge and experience that I'm able to tap into, and for that I'm grateful.
    Though I'm sure I'll forget to mention some people, I'd like to call out some that inspired me to keep doing what I'm doing:

    * I'm lucky to have had the opportunity to work with [@mattly](http://twitter.com/mattly), one of the most talented individuals I've ever met
    * [@brixen](http://twitter.com/brixen), [@evanphx](http://twitter.com/evanphx) and all the others that are working hard on [@rubinius](http://twitter.com/rubinius)
    * [@montywilliams](http://twitter.com/montywilliams) and his team working on [@maglev](http://twitter.com/maglev)
    * [@ryah](http://twitter.com/ryah) for his work on node.js and instilling a sense of excitement about javascript again
    * [@tpope](http://twitter.com/tpope) for his work with Vim plugins, which make it easier for a noob like me to use Vim
    * [@igalko](http://twitter.com/igalko) for organizing most of the Portland tech community
    * [@wayneesegion](http://twitter.com/wayneeseguin) for rvm, which is the hotness
    * [@chadfowler](http://twitter.com/chadfowler) for his wonderful book [The Passionate Programmer](http://j.mp/gSwuH8), which I've read a few times now
    * and everybody else I follow on Twitter.

    This year has been fantastic though, not just in terms of my professional life:

    * My family is doing very well, even those I don't talk to often
    * My [girlfriend](http://j.mp/2pOJXH) moved in with me almost a year ago & we're doing great
    * I went to Europe for 3 1/2 weeks and loved every second
    * I've ridden my bike for the *vast* majority of the year
    * I just got my first drum set!

    With all this in mind, I just felt like I should do something good to celebrate, and the 5000th tweet presented itself as the perfect marker.

    ## How it'll work

    I'm [tracking](http://j.mp/goeKAg) people that retweet me over the next few days. I'll check on it periodically, and when I can grab the 500th retweet,
    that person will get $50 donated to the charity of their choice. Keep it classy while camping folks, no NAMBLA's or Al Qaeda's.
    To keep it going a bit, I'll also donate $50 to the open source project of choice for the 5000th retweet of my 5000th tweet. I've used almost all open source this year 
    and I feel it's the least I can do.

    ## So...
    Thanks for reading, and thank you for supporting me this last year. It really means a lot!

    *Jesse*
