%p
    So you would like to chat? Please feel free to get a hold of me any of the following ways:

%ul
    %li
        By phone =&gt;
        %abbr.tel{ :title => '+1-662-452-0053' }662-4jc00ke
    %li
        By email =&gt; &#105;&#x6e;&#x66;&#x6f;&#64;&#106;&#99;&#x30;&#48;&#107;&#101;&#46;&#x63;&#x6f;&#109;
    %li
        Twitter =&gt;
        %a{ :href => 'http://bit.ly/cFiQPs', :rel => 'external' }http://twitter.com/jc00ke
    %li
        Facebook =&gt;
        %a{ :href => 'http://bit.ly/bIHhJo', :rel => 'external' }http://facebook.com/jc00ke
    %li
        Github =&gt;
        %a{ :href => 'http://bit.ly/cjj1Fz', :rel => 'external' }http://github.com/jc00ke
    %li
        LinkedIn =&gt;
        %a{ :href => 'http://bit.ly/aDVmn4', :rel => 'external' }http://www.linkedin.com/in/jc00ke

