%section
    %p
        Hello. My name is Jesse Cooke, and I'm an N-Tier Engineer.
    %p
        I hadn't heard that before, &quot;N-Tier Engineer&quot;, and I thought it was catchy.                               |
        I consider an N-Tier engineer to be a person that can work effectively on the whole stack. Since I concentrate on   |
        web applications, this means I feel I'm pretty good at:
    %ul
        %li
            Front-end
            %ul
                %li HTML: XHTML, but preferably HTML5
                %li CSS: CSS3 hopefully
                %li Javascripts: You know, jQuery, Underscore.js &amp; the like
        %li
            Back-end
            %ul
                %li Ruby: Sinatra &amp; Rails are awesome
                %li Microsoft .NET: I've done my fair share. Quite a bit actually.
        %li
            Database
            %ul
                %li MySQL, a LOT of SQL Server &amp; a little Postgres
                %li Some MongoDB &amp; always looking for reasons to play with Redis or CouchDB
    %p
        I do work on software projects besides web apps though. Many of the projects I've considered the most fun are not |
        applications but tools/utilities. As long as it's interesting I'm ready to work on it.
    %p
        So those are my interests. Right now I'm concentrating on Ruby &amp; the &quot;NoSQL&quot; or &quot;Post Relational&quot; databases.  |
        If you have an interesting problem &amp; are looking for a good solution,
        %a{ :href => '/contact' }shoot me an email or give me a call.
