!!!
%html
    %head
        %title
            jc00ke llc
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssreset/reset.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssbase/base.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "/stylesheets/curtis.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "/styles.css" }/
        %meta{ :name => "google-site-verification", :content => "2OjD3SXVlbH70lZl5vUDKKDEtqUcwQ2sSfaW91C-0O4" }/
    %body

        #wrapper
            %header
                %a#logo{ :href => '/' }jc00ke llc
            #nav{ :class => "curtis tk_proxima_nova size56 standard" }
                .word
                    %span.css_char.a
                        A
                        %span.outside.split_vert
                        %span.inside.split_horiz
                        %span.bar.fill
                    %span.css_char.b
                        B
                        %span.top.fill
                        %span.bottom.fill
                        %span.top.neg
                        %span.bottom.neg
                    %span.css_char.o
                        O
                        %span.stroke
                    %span.css_char.u
                        U
                        %span.stroke
                    %span.css_char.t
                        T
                        %span.stem.fill
                        %span.cross.fill
                .word
                    %span.css_char.r
                        R
                        %span.inside.split_vert
                        %span.outside.split_vert
                        %span.stroke
                        %span.fill
                    %span.css_char.e
                        E
                        %span.stroke
                        %span.fill
                    %span.css_char.s
                        S
                        %span.bottom_circle.stroke
                        %span.left.neg
                        %span.top_circle.stroke
                        %span.right.neg
                            %span.stroke
                    %span.css_char.u
                        U
                        %span.stroke
                    %span.css_char.m
                        M
                        %span.split_horiz_pos
                        %span.split_horiz_neg
                    %span.css_char.e
                        E
                        %span.stroke
                        %span.fill
                .word
                    %span.css_char.c
                        C
                        %span.stroke
                        %span.neg
                    %span.css_char.o
                        O
                        %span.stroke
                    %span.css_char.n
                        N
                        %span.fill
                        %span.top_corner.split_horiz_neg
                        %span.bottom_corner.split_horiz_neg
                    %span.css_char.t
                        T
                        %span.stem.fill
                        %span.cross.fill
                    %span.css_char.a
                        A
                        %span.outside.split_vert
                        %span.inside.split_horiz
                        %span.bar.fill
                    %span.css_char.c
                        C
                        %span.stroke
                        %span.neg
                    %span.css_char.t
                        T
                        %span.stem.fill
                        %span.cross.fill


            - if flash.has?(:error)
                .error= flash[:error]
            - if flash.has?(:notice)
                .notice= flash[:notice]

            #content= yield
        %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' }
        %script{ :src => 'http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.1/CFInstall.min.js' }
        %script{ :src => '/javascripts/jc00ke.js' }
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11936520-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                    'http://www') + '.google-analytics.com/ga.js';
                    ga.setAttribute('async', 'true');
                document.documentElement.firstChild.appendChild(ga);
            })();
