!!!
%html
    %head
        %title== #{@title} | jc00ke llc
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssreset/reset.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "http://yui.yahooapis.com/3.0.0/build/cssbase/base.css" }/
        %link{ :rel => "stylesheet", :media => "screen", :href => "/styles.css" }/
        %meta{ :name => "google-site-verification", :content => "2OjD3SXVlbH70lZl5vUDKKDEtqUcwQ2sSfaW91C-0O4" }/
    %body{ :class => @page }

        #wrapper
            %header
                %a#logo{ :href => '/' }jc00ke llc
            %nav
                %a{ :href => '/resume' }Resume
                %a{ :href => '/contact' }Contact


            - if flash.has?(:error)
                .error= flash[:error]
            - if flash.has?(:notice)
                .notice= flash[:notice]

            #content= yield

            %footer
                #hcard-Jesse-Cooke.vcard
                    .fn
                        %span.given-name Jesse
                        %span.family-name Cooke
                        %span.role N-Tier Engineer
                        at
                        %span.org jc00ke llc
                        of
                        %abbr{ :title => 'Portland, OR' }pdx


        %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
        %script{ :src => 'http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js' }
        %script{ :src => '/javascripts/jc00ke.js' }
        :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11936520-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                    'http://www') + '.google-analytics.com/ga.js';
                    ga.setAttribute('async', 'true');
                document.documentElement.firstChild.appendChild(ga);
            })();
