@charset "UTF-8"

html
    background: #ccc url(/images/bg.png) repeat 0 0

#wrapper
    margin: 20px
    width:  920px

nav
    height: 70px
    top:    151px

    a
        color:      #ffcc00
        display:    block
        text-decoration:    none

        &:hover
            text-decoration:    underline


#logo
    background:     transparent url(/images/logo.png) no-repeat 0 0
    display:        block
    height:         131px
    text-indent:    -9999px
    width:          387px

    &:hover
        background-color:   rgba(204, 204, 204, 0.2)

.resume

    li
        :margin 0 0 0 15px
