---
author: Jesse Cooke
description: pdxruby October 2012 lightning talk
title: Rails Generators that generate generators
layout: presentation
---


<section>
  <h1>Rails Generators that generate generators</h1>
</section>

<section>
  <h2>Generators?</h2>
  <pre><code contenteditable class="bash">
rails new foo
  </code></pre>
</section>

<section>
  <h2>Why might you write your own?</h2>
  <h3 class="fragment">You wrote a gem</h3>
</section>

<section>
  <pre><code class="bash">
∴ rails g
Usage: rails generate GENERATOR [args] [options]

Please choose a generator below.

Kaminari:
  kaminari:config
  kaminari:views

Mongoid:
  # ...

RailsAdmin:
  rails_admin:install
  rails_admin:uninstall
  </code></pre>
</section>

<section>
  <h2>Why might you write your own?</h2>
  <h3>You wrote a gem</h3>
  <h3 class="fragment">A conversion</h3>
</section>

<section>
  <h2>The mission</h2>
  <h3 class="fragment">RoflDB -> pg</h3>
  <h3 class="fragment">RoflDB is... a document database!</h3>
</section>

<section>
  <pre><code class="bash">
∴ rails g
Usage: rails generate GENERATOR [args] [options]

General options:
  -h, [--help]     # Print generator's options and usage
  -p, [--pretend]  # Run but do not make any changes
  ...

Please choose a generator below.

Rails:
  assets
  controller
  generator <------------------------------ WAT?!?
  ...
  </code></pre>
</section>

<section>
  <pre><code class="bash">
∴ rails g generator converter
      create  lib/generators/converter
      create  lib/generators/converter/converter_generator.rb
      create  lib/generators/converter/USAGE
      create  lib/generators/converter/templates
  </code></pre>
</section>

<section>
  <pre><code class="bash">
cat  lib/generators/converter/converter_generator.rb
  </code></pre>
  <pre><code class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  source_root File.expand_path('../templates', __FILE__)
end
  </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
require 'active_record'

class ConverterGenerator < Rails::Generators::NamedBase
  include Rails::Generators::Migration
  source_root File.expand_path('../templates', __FILE__)

  attr_accessor :attributes

  def initialize(args, *options)
    self.attributes = args[1..-1]
    super
  end

end
  </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  # ...

  def copy_initializer_file
    template_locals = {
      class_name: class_name.split('::').join,
      table_name: table_name,
      attributes: attributes
    }
    number = next_migration_number
    template  "migration.rb",
              "db/migrate/#{number}_#{file_name}.rb",
              template_locals
  end
end
          </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
class ConverterGenerator < Rails::Generators::NamedBase
  # ...

  # required interface for Rails::Generators::Migration.
  def self.next_migration_number(dirname) #:nodoc:
    next_num = current_migration_number(dirname) + 1
    ::ActiveRecord::Migration.next_migration_number(next_num)
  end

  private
  def next_migration_number
    # ...
  end
          </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
class DatabaseMigrator
  TYPE_MAP = {
    # ...
  }

  def build_migration
    args = mapped_attributes.unshift(model_name)
    Rails::Generators.invoke('migration_writer', args, config)
  end

  private
  def mapped_attributes
    # ...
  end
end
  </code></pre>
</section>

<section>
  <pre><code class="bash">
cat  lib/generators/converter/templates/migrate.rb
  </code></pre>

  <pre><code contenteditable class="ruby">
class Create<%= config[:class_name] %> < ActiveRecord::Migration
  def change
    create_table :<%= config[:table_name] %> do |t|
      t.string :dbx_id
 <% config[:attributes].each do |attr| -%>
 <%= "t.#{attr.type} :#{attr.name}" %>
 <% if attr.name[/_id$/] %>
 <%= "t.string :dbx_#{attr.name}" %>
 <% end %>
 <% end %>

      t.timestamps
    end
  end
end
  </code></pre>
</section>

<section>
  <pre><code class="bash">
cat  lib/generators/converter/templates/migrate_sequel.rb
  </code></pre>
  <pre><code contenteditable class="ruby">
Sequel.migration do
  change do
    create_table :<%= config[:table_name] %> do
      primary_key :id
      String :dbx_id
   <% config[:attributes].each do |attr| -%>
   <%= "#{attr.type} :#{attr.name}" -%>
   <% if attr.name[/_id$/] %>
      <%= "String :dbx_#{attr.name}, index: true" -%>
   <% end %>
   <% end %>
    end
  end
end
  </code></pre>
</section>

<section>
  <h2>What I want</h2>
  <pre class="fragment"><code contenteditable class="rake">
rake db:migrate_schema
  </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
require 'rails/generators'

namespace :db do
  desc "Migrate RoflDB to pg"
  task migrate_schema: :environment do
    # explicitly load models to avoid lazy loading in development
    Dir[Rails.root.join("app/models/**/*.rb")].each do |model|
      require model
    end

    RoflDB::Base.subclasses.each do |model|
      DatabaseMigrator.migrate(model.schema_attrs, model.to_s)
    end
  end
end
  </code></pre>
</section>

<section>
  <pre><code contenteditable class="rake">
rake db:migrate_schema
  </code></pre>
</section>

<section>
  <pre><code contenteditable class="ruby">
class CreateWidget < ActiveRecord::Migration
  def change
    create_table :widgets do |t|
      t.string :dbx_id
      t.string :name
      t.text   :description
      t.string :dbx_foo_id

      t.timestamps
    end
  end
end
  </code></pre>
</section>

<section>
  <h1>Takeaway...</h1>
  <h2 class="fragment">Repeatability is good!</h2>
</section>

<section>
  <h1>Resources</h1>
  <p><a href="http://guides.rubyonrails.org/generators.html">Rails Guides</a></p>
</section>

<section>
  <h1>Thanks!</h1>
  <h2>Jesse Cooke</h2>
  <p><a href="https://github.com/jc00ke">github/jc00ke</a></p>
  <p><a href="https://twitter.com/jc00ke">@jc00ke</a></p>
  <p>jesse [at] jc00ke.com</p>
</section>

<section id="themes">
  <h2>Themes</h2>
  <p>
    Reveal.js comes with a few themes built in: <br>
    <a href="?theme=solarized#/themes">Solarized</a>
  </p>
  <p>
    <small>
      * Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the <code>&lt;head&gt;</code> using a <code>&lt;link&gt;</code>.
    </small>
  </p>
</section>

<section>
  <h2>Pretty Code</h2>
  <pre><code data-trim contenteditable>
function linkify( selector ) {
  if( supports3DTransforms ) {

    var nodes = document.querySelectorAll( selector );

    for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
      var node = nodes[i];

      if( !node.className ) {
        node.className += ' roll';
      }
    }
  }
}
  </code></pre>
  <p>Courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.</p>
</section>

